a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
    cursor: clickable;
  }
}

.content{
  margin-left: 220px;
  padding: 0px 40px;
}

.space-bottom {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .content{
    margin-left: 0px;
    margin-top: 60px;
  }
}
