<h1>Products</h1>

<ul>
  <% @products.each do |product| %>
    <li> <%= product.id %> - <%= product.name %> (<%= product.size %>)</li>
  <% end %>
</ul>


<div id="products">
  <p>{{ message }}</p>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Size</th>
      </tr>
    </thead>
    <tbody>
       <tr v-for="product in products">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.size }}</td>
      </tr>
    </tbody>
  </table>
</div>
