<h1>Products</h1>
  <form action="/products" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="hidden" id="userId" value=<%= @user.id %>>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"><a @click="sortById">Id</a></th>
          <th scope="col"><a @click="sortByName">Name</a></th>
          <th scope="col"><a @click="sortBySize">Size</a></th>
          <th scope="col">EUR</th>
          <th scope="col">USD</th>
          <th scope="col">GBP</th>
          <th scope="col">JPY</th>
        </tr>
      </thead>
      <tbody>
        <tr
          is="product-row"
          v-for="product in paginatedProducts"
          :product="product">
        </tr>
      </tbody>
    </table>
  </form>

  <ul class="list-inline">
    <li v-for="pageNumber in totalPages">
      <a href="#" @click="setPage(pageNumber)"  :class="{current: currentPage === pageNumber, last: (pageNumber == totalPages - 1 && Math.abs(pageNumber - currentPage) > 3), first:(pageNumber == 0 && Math.abs(pageNumber - currentPage) > 3)}">{{ pageNumber }}</a>
    </li>
  </ul>
    <select name="" id="" v-model="itemsPerPage">
      <option value="20" selected>20 per page</option>
      <option value="50">50 per page</option>
      <option value="100">100 per page</option>
    </select>
</div>


<script type="text/x-template" id="product-row">
  <tr>
    <td>{{ product.id }}</td>
    <td>{{ product.name }}</td>
    <td>{{ product.size }}</td>
    <td>{{ product.prices.filter(a => a.currency === "eur")[0]? product.prices.filter(a => a.currency === "eur")[0].value + " €": "" }}</td>
    <td>{{ product.prices.filter(a => a.currency === "usd")[0]? product.prices.filter(a => a.currency === "usd")[0].value + " $": "" }}</td>
    <td>{{ product.prices.filter(a => a.currency === "gbp")[0]? product.prices.filter(a => a.currency === "gbp")[0].value + " £": "" }}</td>
    <td>{{ product.prices.filter(a => a.currency === "jpy")[0]? product.prices.filter(a => a.currency === "jpy")[0].value + " ¥": "" }}</td>
  </tr>
</script>
